# Homework 2: Arrays and Tables, Due Sunday, October 13, at 11:59pm

**Reading**: Textbook chapters [4](http://www.inferentialthinking.com/chapters/04/data-types.html) and [5](http://www.inferentialthinking.com/chapters/05/tables.html).

Directly sharing answers is not okay, but discussing problems with the course staff or with other students is encouraged. 

You should start early so that you have time to get help if you're stuck.

Please complete this notebook by filling in the cells provided. Before you begin, execute the following cell to load the provided tests. Each time you start your server, you will need to execute this cell again to load the tests.

In [2]:
# Don't change this cell; just run it. 

import numpy as np
from datascience import *

# from client.api.notebook import Notebook
# ok = Notebook('hw02.ok')
# _ = ok.auth(inline=True)

**Important**: The `ok` tests don't always tell you that your answer is correct. More often, they help catch careless mistakes. It's up to you to ensure that your answer is correct. If you're not sure, ask someone (not for the answer, but for some guidance about your approach).

Once you're finished, you must do two things:

### a. Turn into OK
Select "Save and Checkpoint" in the File menu and then execute the `submit` cell below. The result will contain a link that you can use to check that your assignment has been submitted successfully. If you submit more than once before the deadline, we will only grade your final submission.

In [2]:
# _ = ok.submit()

### b. Turn PDF into Gradescope
Select File > Download As > PDF via LaTeX in the File menu. Turn in this PDF file into the respective assignement at https://gradescope.com/.
<br>
If you submit more than once before the deadline, we will only grade your final submission

## 1. Studying the Survivors

The Reverend Henry Whitehead was skeptical of John Snow’s conclusion about the Broad Street pump. After the Broad Street cholera epidemic ended, Whitehead set about trying to prove Snow wrong.  (The history of the event is detailed [here](http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1034367/pdf/medhist00183-0026.pdf).)

He realized that Snow had focused his analysis almost entirely on those who had died. Whitehead, therefore, investigated the drinking habits of people in the Broad Street area who had not died in the outbreak.

What is the main reason it was important to study this group?

1) Through considering the survivors, Whitehead could have identified a cure for cholera.

2) Survivors could provide additional information about what else could have caused the cholera, potentially unearthing another cause.

3) If Whitehead had found that many people had drunk water from the Broad Street pump and not caught cholera, that would have been evidence against Snow's hypothesis.

In [3]:
# Set survivor_answer to 1, 2, or 3
survivor_answer = 3

In [4]:
# _ = ok.grade('q1_1')

**Note:** Whitehead ended up finding further proof that the Broad Street pump played the central role in spreading the disease to the people who lived near it. Eventually, he became one of Snow’s greatest defenders.

## 2. Creating Arrays

**Question 1.** Make an array called `weird_numbers` containing the following numbers (in the given order):

1. The mathematical constant $\pi$.
2. The square root of 2.
3. The logarithm of 15, in base 3.
4. 25 degrees, in radians.

*Hint:* Take a look at the functions and constants in the `math` module.

In [5]:
import math
weird_numbers = make_array(math.pi, math.sqrt(2), math.log(15, 3), math.radians(25))
weird_numbers

array([3.14159265, 1.41421356, 2.46497352, 0.43633231])

In [6]:
# _ = ok.grade('q2_1')

**Question 2.** Make an array called `words` containing the following three strings:
* That is so sad 
* Alexa 
* play Despacito

In [3]:
words = make_array('That is so sad', 'Alexa', 'play Despacito')

In [8]:
# _ = ok.grade('q2_2')

Strings have a method called `join`.  `join` takes one argument, an array of strings. It returns a single string. Specifically, the value of `a_string.join(an_array)` is a single string that's the concatenation ("putting together") of all the strings in `an_array`, **except** `a_string` is inserted in between each string.

**Question 3.** Use the array `words` and the method `join` to make two strings:

1. "That is so sad, Alexa, play Despacito" (call this one `with_commas`)
2. "That is so sad Alexa play Despacito" (call this one `with_spaces`)

*Hint:* If you're not sure what `join` does, first try just calling, for example, `"foo".join(numbers)` .

In [7]:
with_commas = ', '.join(words)
with_spaces = ' '.join(words)

In [10]:
# _ = ok.grade('q2_3')

## 3. Indexing Arrays

These exercises give you practice accessing individual elements of arrays.  In Python (and in many programming languages), elements are accessed by *index*, so the first element is the element at index 0.

**Question 1.** The cell below creates an array of strings. What is the index of the third element in the array?

In [11]:
some_strings = make_array('first', 'second', 'third', 'fourth', 'fifth', 'last')

index_of_third = 2

In [12]:
# _ = ok.grade('q3_1')

**Question 2.** Using an array method, assign the last element of `some_strings` to `last_element`.

In [13]:
last_element = some_strings.item(-1)
last_element

'last'

In [14]:
# _ = ok.grade('q3_2')

**Question 3.** Suppose you have an array with 187 elements. Assign the index of the middle element to `mid_index` below.

In [15]:
mid_index = 93

In [16]:
# _ = ok.grade('q3_3')

The following cell loads data about presidents into a table and prints out the data.

In [8]:
president_data = Table.read_table("president_births.csv")
president_data

Name                   | Birth      | Death      | Birth Year | Birth Days (since 1 CE) | Days since January 1 at Birth | Death Year | Death Days (since 1 CE) | Days since January 1 at Death | Life Years | Life Days
George Washington      | 1732-02-22 | 1799-12-14 | 1732       | 632286                  | 53                            | 1799       | 657053                  | 348                           | 67         | 24767
John Adams             | 1735-10-30 | 1826-07-04 | 1735       | 633632                  | 303                           | 1826       | 666751                  | 185                           | 90         | 33119
Thomas Jefferson       | 1743-04-13 | 1826-07-04 | 1743       | 636354                  | 103                           | 1826       | 666751                  | 185                           | 83         | 30397
James Madison          | 1751-03-16 | 1836-06-28 | 1751       | 639248                  | 75                            | 1836       | 670398                  | 180                           | 85         | 31150
James Monroe           | 1758-04-28 | 1831-07-04 | 1758       | 641848                  | 118                           | 1831       | 668577                  | 185                           | 73         | 26729
Andrew Jackson         | 1767-03-15 | 1845-06-08 | 1767       | 645091                  | 74                            | 1845       | 673665                  | 159                           | 78         | 28574
John Quincy Adams      | 1767-07-11 | 1848-02-23 | 1767       | 645209                  | 192                           | 1848       | 674655                  | 54                            | 80         | 29446
William Henry Harrison | 1773-02-09 | 1841-04-04 | 1773       | 647249                  | 40                            | 1841       | 672139                  | 94                            | 68         | 24890
Martin Van Buren       | 1782-12-05 | 1862-07-24 | 1782       | 650835                  | 339                           | 1862       | 679920                  | 205                           | 79         | 29085
Zachary Taylor         | 1784-11-24 | 1850-07-09 | 1784       | 651555                  | 329                           | 1850       | 675522                  | 190                           | 65         | 23967
... (28 rows omitted)

More often, you don't know the number of elements in an array, its *length*.  (For example, it might be a large dataset you found on the Internet.)  The function `len` takes a single argument, an array, and returns the `len`gth of that array (an integer).

**Question 4.** The cell below loads an array called `president_death_years`. Assign the 7th from last element of death year to `death_year`.

In [10]:
president_death_years = Table.read_table("president_births.csv").column('Death Year')
death_year = president_death_years.item(-7)
death_year

1972

In [19]:
# _ = ok.grade('q3_4')

## 4. Basic Array Arithmetic

The following table contains six siblings and their weekly allowance from their parents:

|Sibling|Weekly allowance (\$)|Weekly expense (\$)|
|---|---|---|
|Sarah|2|2|
|Dave|4|0.5|
|John|5|2|
|Ashley|9|3|
|June|7|1.5|
|Rob|3|1|

**Question 1.** Load the allowances in an array called `allowances`.

In [20]:
allowances = make_array(2, 4, 5, 9, 7, 3)

In [21]:
# _ = ok.grade('q4_1')

**Question 2.** If every sibling is given a raise of $4/week by their parents, how much money does each sibling make per week? Update the allowances in the array `new_allowances_constant`.

In [21]:
new_allowances_constant = allowances + 4

In [23]:
# _ = ok.grade('q4_2')

**Question 3.** If instead, the parents decided to give each sibling a 20% raise, how much money does each sibling make per week? Update the allowances in the array `new_allowances_percent`.

In [16]:
new_allowances_percent = allowances * 1.2

In [25]:
# _ = ok.grade('q4_3')

**Question 4.** Calculate how much each sibling receives per day for allowance in dollars (be sure to round each allowance to the nearest cent!). Assign your answer to the name `allowances_by_day`.

In [18]:
allowances_by_day = np.round(allowances / 7, 2)

In [27]:
# _ = ok.grade('q4_4')

**Question 5.** Load the weekly expenses into the array `expenses`. Calculate the amount of remaining money after each sibling spends a portion of their allowance on expenses, assigning the amounts to the variable `remaining`.

In [22]:
expenses = make_array(2, .5, 2, 3, 1.5, 1)
remaining = allowances - expenses
remaining

array([0. , 3.5, 3. , 6. , 5.5, 2. ])

In [29]:
# _ = ok.grade('q4_5')

## 5. Shark Attacks

**Question 1.** The first line assigns `sharks` to an array containing the number of shark attacks between 1930 and 2017. What's the smallest and largest number of shark attacks in a given year? What is the average number of attacks between 1930 and 2017 `(round to an integer)`. What is the total number of shark attacks between 1930 and 2017?

In [11]:
sharks = Table.read_table('sharks.csv').column('Attacks')

smallest = min(sharks)
largest = max(sharks)
average = int(round(np.mean(sharks)))
total = sum(sharks)

In [31]:
# _ = ok.grade('q5_1')

**Question 2.** What is the largest decrease in attacks experienced between consecutive years? 

*Hint*: You'll need an array arithmetic function [mentioned in the textbook](https://ucsd-dsc10.gitbooks.io/textbook/content/chapters/04/4/arrays.html#Functions-on-Arrays).

In [22]:
biggest_increase = min(np.diff(sharks))
biggest_increase

-25

In [33]:
# _ = ok.grade('q5_2')

**Question 3.** What percentage of shark attacks, during the 88 years recorded in the array, occured in the last 44 years?

In [16]:
pct_in_last_44_years = sum(sharks[44:]) / total
pct_in_last_44_years

0.645870825834833

In [35]:
# _ = ok.grade('q5_3')

**Question 4.** Suppose there were 30,000 beachgoers in 1930 and the number of beachgoers increased by 10% year-after-year. Create an array called `beachgoers` that contains the number of beachgoers in each year between 1930 and 2017. If any beachgoer is equally likely to be attacked by a shark, how dangerous was the *least* dangerous year for shark attacks? Assign the *percent* (**between 0 and 100**) chance of being attacked by a shark to the variable `danger`.

*Hint*: To calculate `beachgoers`, you may find the function `np.ones`, that creates an array containing only ones to be useful. For example `np.ones(5)` evaluates to  `array([1., 1., 1., 1., 1.])`.

In [17]:
beachgoers = 30000 * (1.10 ** np.arange(88))
danger = min(sharks / beachgoers) * 100
danger

0.00011356749457852553

In [37]:
# _ = ok.grade('q5_4')

## 6. Tables

**Question 1.** Suppose you have 3 quarters, 4 dimes, 2 nickels, and 4 pennies in your pocket. Create a table, named `coins`, with two columns: `Coin Type` and `Quantity` that contains the inventory of your pocket.

In [18]:
coins = Table().with_columns(
    'Coin Type', make_array('Quarter', 'Dime', 'Nickel', 'Penny'),
    'Quantity', make_array(3, 4, 2, 4)
)

In [19]:
# _ = ok.grade('q6_1')

**Question 2.** The file `inventory.csv` contains information about the inventory at a fruit stand at the end of the day.  Each row represents the contents of one box of fruit. Load it as a table named `inventory`.

In [21]:
inventory = Table.read_table('inventory.csv')
inventory

box ID | fruit name | price per item ($) | start count | sold count
53686  | kiwi       | 2                  | 45          | 30
57181  | strawberry | 3                  | 12          | 9
25274  | apple      | 1.5                | 20          | 19
48800  | orange     | 1                  | 35          | 30
26187  | strawberry | 3                  | 25          | 25
57930  | grape      | 0.5                | 17          | 17
52357  | strawberry | 3                  | 10          | 3
43566  | peach      | 4.5                | 40          | 20

In [41]:
# _ = ok.grade('q6_2')

**Question 3.** Does each box at the fruit stand contain a different fruit?

In [42]:
# Set all_different to "Yes" if each box contains a different fruit or to "No" if multiple boxes contain the same fruit
all_different = 'No'
all_different

'No'

In [43]:
# _ = ok.grade('q6_3')

**Question 4.** How many pieces of fruit did the store sell in total that day?

In [23]:
total_fruit_sold = sum(inventory.column('sold count'))
total_fruit_sold

153

In [45]:
# _ = ok.grade('q6_4')

**Question 5.** What was the store's total revenue (the total price of all fruits sold) on that day?

In [24]:
total_revenue = sum(inventory.column(2) * inventory.column(4))
total_revenue

328.0

In [47]:
# _ = ok.grade('q6_5')

**Question 6.** What was the stores's total revenue from strawberry sales that day?

In [26]:
strawberries = inventory.where('fruit name', 'strawberry')
revenue_from_strawberries = sum(strawberries.column(2) * strawberries.column(4))
revenue_from_strawberries

111.0

In [49]:
# _ = ok.grade('q6_6')

**Question 7.** Create a table with a new column, called `remaining ($)` that indicates the total remaining value of the fruit still in each box at the end of the day. Assign this table the name `with_remaining`.

In [27]:
with_remaining = inventory.with_column('remaining ($)', inventory.column(2) * (inventory.column(3) - inventory.column(4)))
with_remaining

box ID | fruit name | price per item ($) | start count | sold count | remaining ($)
53686  | kiwi       | 2                  | 45          | 30         | 30
57181  | strawberry | 3                  | 12          | 9          | 9
25274  | apple      | 1.5                | 20          | 19         | 1.5
48800  | orange     | 1                  | 35          | 30         | 5
26187  | strawberry | 3                  | 25          | 25         | 0
57930  | grape      | 0.5                | 17          | 17         | 0
52357  | strawberry | 3                  | 10          | 3          | 21
43566  | peach      | 4.5                | 40          | 20         | 90

In [ ]:
# _ = ok.grade('q6_7')

**Question 8.** Create a table with a new column, called `favorites` that indicates whether a fruit is one of the most favorite kinds by `True` or `False`. If the total remaining value of the fruit still in each box at the end of the day is **less then 5 dollars**, then this fruit in a particular box is one of the most favorite. Assign this table the name `with_favorites`.

In [32]:
favorites = with_remaining[5] < 5
with_favorites = inventory.with_column('favorites', favorites)
with_favorites

box ID | fruit name | price per item ($) | start count | sold count | favorites
53686  | kiwi       | 2                  | 45          | 30         | False
57181  | strawberry | 3                  | 12          | 9          | False
25274  | apple      | 1.5                | 20          | 19         | True
48800  | orange     | 1                  | 35          | 30         | False
26187  | strawberry | 3                  | 25          | 25         | True
57930  | grape      | 0.5                | 17          | 17         | True
52357  | strawberry | 3                  | 10          | 3          | False
43566  | peach      | 4.5                | 40          | 20         | False

In [51]:
# _ = ok.grade('q6_8')

In [52]:
# For your convenience, you can run this cell to run all the tests at once!
# import os
# _ = [hw02.grade(q[:-3]) for q in os.listdir("tests") if q.startswith('q')]

In [53]:
# _ = ok.submit()

## Don't forget to submit to both OK and Gradescope!